{{>header}}
<section class="homeMain">
	<form method="post" action="#/create" id="createForm">
		<h3>Add a Recipe</h3>
		<input name="name" id="dishName" placeholder="Dish Name" />
		<input name="imageURL" id="createImageURL" placeholder="Enter Image URL" />
		<input name="description" id="createDescrition" placeholder="Enter Cooking Instructions" />
        <area id="createIngredients">
            <input name="ingredients" id="regPass" placeholder="Enter Ingredient" />
        </area>
        <img type="button" id="addIngredient" title="Add an Ingredient" src="images/add.png"/>
		<button id="regButton">Submit</button>
   		<img id="regPic" src="images/wings.png" />
	</form>
</section>
{{>footer}}