<footer>
	<div class="footer">
		<p>Made by
			<a href="https://github.com/jwachtel96">Jesse Wachtel</a>
			using Firebase, Webpack, Sammy, and Handlebars.</p>
	</div>
	<i class="fa fa-heart"></i>
</footer>