<nav class="nav">
	<div class="logo-nav">
		<a href="#/home">CookUni</a>
	</div>

	<div class="logged-out-nav">
		<a href="#/home">Home</a>
		<a href="#/recipes">Recipes</a>
		<a href="#/login">Login</a>
		<a href="#/register">Register</a>
	</div>

	<div class="logged-in-nav">
		<a href="#/recipes">Recipes</a>
		<a href="#/profile">Welcome, {{firstName}}</a>
		<a href="#/logout">Logout</a>
	</div>
</nav>