<section class="homeMain">
	<div>
		<img id="homeImg" src="images/bmk-img.png" />
		<h2>Cooking University</h2>
		<p>
			They say food passes through the stomach, we say that food passes
			through CookUni...
		</p>
		<a href="#/recipes"><button id="showRecipes">SEE OUR RECIPES</button></a>
	</div>
</section>