{{>header}}
<section class="homeMain">
	<form id="login">
		<h3>Sign in</h3>
		<p id="loginError">Invalid username or password</p>
		<input id="userLogin" placeholder="  Username" />
		<input type="password" id="passLogin" placeholder="  Password" />
		<button id="loginButton" type="button">Submit</button>
	</form>
</section>
{{>footer}}