{{>header}}
<div class="container">
	{{#each recipes}}
		<div id="{{id}}" class="recipes">
			<h2>{{name}}</h2>
			<img src="{{imageURL}}" />
			<a href="#/details/{{id}}"><button>DETAILS</button></a>
		</div>
	{{/each}}
</div>
{{>footer}}